@font-face {
  font-family: 'oppo-sans-bold';
  src: url('./fonts/OPPOSans-Bold.ttf');
}

@font-face {
  font-family: 'oppo-sans-medium';
  src: url('./fonts/OPPOSans-Medium.ttf');
}

@font-face {
  font-family: 'oppp-sans-regular';
  src: url('./fonts/OPPOSans-Regular.ttf');
}